{% extends 'base.html'%}
{% block content %}
<br>
<form action="" method="POST">
    {{ form.non_field_errors }}
    <p>メールを受信してパスワードの変更手続きを行います。<br>メールアドレスを入力して送信ボタンを押してください。</p>
    <br><br>
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    {% csrf_token %}


    
    <br/>
    <div class="form-group row">
      <div class="col-6">
        <button type="submit" class="btn btn-success">送信</button>
      </div>
    </div>
</form>
<br><br><hr>
<pre>メールアドレスはあらかじめシステムに登録が必要です。
  メールが届かない場合はシステム管理者に連絡してください。</pre>
{% endblock %}